body {
  background-color: slategray;
}

#main-header {
  text-align: center;
  margin: 0 auto;
}

.container-1  div.animal{
  border: 1px #ccc solid;
  padding: 1em;
}

@media(min-width: 768px){
  .container-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.container-1 .animal {
  flex-basis: 27%
}
.animal {
  background-color: white;
  /* flex: 1; */
  text-align: center;
  margin-bottom: 2em;
}

/* Image Styling */

img {
  height: auto;
  width: 70%;
  margin: 0 auto;
}